.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  box-sizing: border-box;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0 30px;
}
.page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: xx-large;
}
